.App {
  text-align: center;
}

.app-header {
  margin-top: 16px;
}

.list {
  display: flex;
  flex-flow: wrap;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 125px;
  user-select: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  border: 2px solid #999999;
  width: 100px;
  height: 75px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-button {
  height: 44px;
  margin: 8px;
}
